//colors
$white:#fff;
$watermelon: #f38181;
$cyan:#95e1d3;
$lightgrey: #f8f8f8;
$black:#111;
$startgrediant:#f38181;
$endgrediant:#fce38a;

// fonts
$kaushan:'Kaushan Script', cursive;
$Roboto-LightItalic:'Roboto-LightItalic',sans-serif;
$robotoregular:'Roboto-Regular', sans-serif;
$robotobold:'Roboto-Bold', sans-serif;
$montbold:'Montserrat-Bold', sans-serif;
$montregular:'Montserrat-Regular', sans-serif;